.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 300px;
}

.item {
  max-width: 250px;
  list-style: none;
  margin: 20px;
  padding: 10px;
  border: 2px solid rgb(62, 158, 255);
  border-radius: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f8ff;
  text-align: center;
}

.caption {
  display: block;
  font-size: 1rem;
  max-height: 20px;
  overflow: hidden;
}

.image {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.favouritebutton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  top: 0px;
  left: 125px;
  justify-self: flex-end;
}

.favourite {
  width: 30px;
  filter: grayscale(100%);
}

.favourite.active {
  filter: none;
  border: none;
}

.favourite:hover {
  transform: scale(1.1);
}
