.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 20px;
}

.searchinput {
  height: 30px;
  border: 2px solid rgb(62, 158, 255);
  border-radius: 5px;
}

.searchbutton {
  height: 35px;
  border: 2px solid rgb(62, 158, 255);
  border-radius: 5px;
}