body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
